
<form role="form" class="inputArea-form">
  <div class="row">
    <div class="col-md-12">
      <div class="form-group">
        <textarea class="form-control textarea" rows="3" placeholder="Copy and paste a document here (the document must have at least 500 characters)"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <label class="radio-inline"><input type="radio" name="option" value="summary">Summary</label>
      <label class="radio-inline"><input type="radio" name="option" value="keywords">Keywords</label> 
    </div>
    <div class="col-md-6">
      <button type="button" class="btn btn-main pull-right">Submit</button>
    </div>
  </div>
</form>          
